* {
  box-sizing: border-box;
  /* border: 1px solid; */
}

.cardbox {
  border: 1px solid;
}
.imageBox {
  padding-top: 15px;
}

img {
  width: 100%;
}

.title {
  font-size: 1.2rem;
  font-weight: bold;
}

.container {
  padding: 10px;
}
