* {
  box-sizing: border-box;
  /* border: 1px solid; */
}

body {
  /* width: 500px; */
  /* border: 1px solid; */
  display: flex;
  justify-content: center;
}

.regisForm {
  width: 500px;
  background-color: rgb(210, 241, 236);
}

.title {
  text-align: center;
  font-size: 2em;
  border-bottom: 2px solid white;
  margin-top: 0;
  margin-bottom: 10px;
  padding: 5px;
}

form,
.title {
  margin-left: 15px;
  margin-right: 5px;
}

input[type='text'],
input[type='number'],
input[type='tel'],
input[type='email'],
input[type='password'],
textarea {
  width: 100%;
  padding-left: 5px;
  padding: 6px;
}

.fontbold {
  font-weight: bold;
}

.btn {
  background-color: rgb(17, 77, 174);
  border-radius: 5px;
  border: transparent;
  color: white;
  font-size: 1rem;
}
.btn:hover {
  background-color: rgb(95, 134, 198);
}

.btnRmv {
  color: red;
}

.btnAdd {
  height: 50px;
  width: 100%;
}

.frameBtn {
  display: flex;
  justify-content: space-around;
}

.frameUpdate {
  width: 40%;
}

.frameAdd {
  margin: 5px;
}

.subBtn {
  font-size: 0.8rem;
}
