* {
  box-sizing: border-box;
  /* border: 1px solid; */
}

body {
  width: 500px;
  border: 1px solid;
  /* display: flex;
  justify-content: center; */
}

.regisForm {
  background-color: rgb(210, 241, 236);
}

.title {
  text-align: center;
  font-size: 2em;
  border-bottom: 2px solid white;
  margin-top: 0;
  margin-bottom: 10px;
  padding: 5px;
}

form,
.title {
  margin-left: 15px;
  margin-right: 5px;
}

input[type='text'],
input[type='number'],
input[type='tel'],
input[type='email'],
input[type='password'],
textarea {
  width: 100%;
  padding-left: 5px;
  padding: 6px;
}

.fontbold {
  font-weight: bold;
}

button {
  font-size: 1.1em;
  background-color: rgb(32, 180, 32);
  color: white;
  width: 100%;
  padding: 5px;
  border: transparent;
  margin-bottom: 5px;
}
