* {
  box-sizing: border-box;
}

#Form {
  background-color: rgb(198, 248, 231);
  width: 800px;
}

.Form {
  padding: 10px;
}
.search,
.select {
  width: 50%;
}

.select {
  padding-right: 5px;
}

.search {
  padding-left: 5px;
}
